<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        * {
            /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,400&display=swap'); */
            @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap');
            font-family: 'Poppins', sans-serif;
        }

        a {
            text-decoration: none;
            color: gray;
        }


        .login-page {
            width: 100%;
            height: 100vh;
            display: inline-block;
            display: flex;
            align-items: center;
            background: url("/assets/images/auth/bg.png");
            background-size: cover;
            background-position: left center;
        }

        .form-right i {
            font-size: 100px;
        }

        .logo img {
            height: 40px;
            width: auto;
        }

        /*Don't forget to add Font Awesome CSS : "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"*/
        input[type="text"] {
            width: 100%;
            /* border: 1px solid #A952A5; */
            border-radius: 4px;
            margin: 8px 0;
            outline: none;
            padding: 8px;
            box-sizing: border-box;
            transition: 0.3s;
            border: none;
            background: #F5F5F5;
        }

        input[type="checkbox"] {
            width: 17px;
            height: 17px;
            background-color: #F5F5F5 !important;

        }

        input[type="text"]:focus {
            border-color: dodgerBlue;
            box-shadow: 0 0 8px 0 dodgerBlue;
        }

        .inputWithIcon input[type="text"] {
            padding-left: 40px;
        }

        .inputWithIcon {
            position: relative;
            display: flex;
            align-items: center;
        }

        .inputWithIcon i {
            position: absolute;
            left: 2;
            font-size: 17px;
            ;
            padding: 9px 8px;
            color: #A952A5;
            transition: 0.3s;
        }

        .inputWithIcon input[type="text"]:focus+i {
            color: dodgerBlue;
        }

        .inputWithIcon.inputIconBg i {
            background-color: #aaa;
            color: #fff;
            padding: 9px 4px;
            border-radius: 4px 0 0 4px;
        }

        .inputWithIcon.inputIconBg input[type="text"]:focus+i {
            color: #fff;
            background-color: dodgerBlue;
        }

        .login-btn {
            padding: 1em 3em;
            border-radius: 0.5em;
            background: linear-gradient(to right, #56b8dd, #6e80e6, #8467e7, #b444ee, #e639f7, #c63bf0);
            color: white;
            font-size: 14px;
            border: none;
        }

        .login-btn a:hover {
            color: white;
        }

        .login-with img {
            width: 20px;
            height: auto;

        }

        .login-with {
            display: flex;
            gap: 20px;
            align-items: center;

        }

        .icon-holder {
            /* display: inline-block; */
            height: 35px;
            width: 35px;
            border-radius: 50%;
            cursor: pointer;
            display: inline-flex;
            justify-content: center;
            box-shadow: inset 0 0 10px #EEEEEF;
            border: 2px solid #EEEEEF;
            align-items: center;
        }

        @media(max-width: 458px) {
            .login-page {
                align-items: flex-start;
                padding-top: 12px;
                ;
            }

            .logo img {
                height: 28px;
                ;
            }

            .links span:nth-child(1) {
                font-size: 15px;
                ;
            }

            .container {
                width: 92% !important;
                margin: 5px auto !important;
                padding: 10px 15px !important;
            }
        }

        form input::placeholder {
            font-size: 15px;
            color: #999999;
        }
    </style>

    <style>
        .parent_ {
            position: relative;
        }

        @media (min-width: 1800px) and (max-width: 1920px) {

            .child_ {
                position: absolute;
                left: 890px;
                top: 32%;
                height: 300px;
                width: 1px;
            }
        }
    </style>

</head>

<body>
    <div class="login-page bg-light">
        <div class="container bg-white pt-4 pb-0 pe-4 ps-4" style="width:80%;min-height:430px;border-radius:10px; ;">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo">
                    <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="39" height="40" rx="6" fill="#2871FF" />
                        <path
                            d="M9.5 15.1C9.5 13.1398 9.5 12.1597 9.88148 11.411C10.217 10.7525 10.7525 10.217 11.411 9.88148C12.1597 9.5 13.1398 9.5 15.1 9.5H24.9C26.8602 9.5 27.8403 9.5 28.589 9.88148C29.2475 10.217 29.783 10.7525 30.1185 11.411C30.5 12.1597 30.5 13.1398 30.5 15.1V21.75C30.5 23.3808 30.5 24.1962 30.2336 24.8394C29.8783 25.697 29.197 26.3783 28.3394 26.7336C27.6962 27 26.8808 27 25.25 27C24.68 27 24.395 27 24.1306 27.0624C23.778 27.1456 23.4497 27.3098 23.1716 27.5419C22.963 27.716 22.792 27.944 22.45 28.4L20.7467 30.6711C20.4934 31.0089 20.3667 31.1777 20.2114 31.2381C20.0754 31.291 19.9246 31.291 19.7886 31.2381C19.6333 31.1777 19.5066 31.0089 19.2533 30.6711L17.55 28.4C17.208 27.944 17.037 27.716 16.8284 27.5419C16.5503 27.3098 16.222 27.1456 15.8694 27.0624C15.605 27 15.32 27 14.75 27C13.1192 27 12.3038 27 11.6606 26.7336C10.803 26.3783 10.1217 25.697 9.76642 24.8394C9.5 24.1962 9.5 23.3808 9.5 21.75V15.1Z"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M19.9968 15.719C19.0638 14.6585 17.5079 14.3733 16.3389 15.3444C15.1698 16.3155 15.0053 17.9391 15.9233 19.0876C16.4692 19.7706 17.8063 20.9953 18.8006 21.8759C19.211 22.2395 19.4162 22.4212 19.6633 22.4949C19.8746 22.558 20.119 22.558 20.3304 22.4949C20.5774 22.4212 20.7826 22.2395 21.193 21.8759C22.1873 20.9953 23.5244 19.7706 24.0703 19.0876C24.9884 17.9391 24.8439 16.3052 23.6547 15.3444C22.4656 14.3835 20.9298 14.6585 19.9968 15.719Z"
                            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>Framewiz</span>
                    <!-- <img src="/assets/images/auth/logo.png" alt="" style="width: 100%;"> -->
                </div>
                <div class="links">
                    <span>New User?</span>
                    <!-- #E039F6 -->

                    <span><a href="/signup" style="color:  #407BFF;"> <b>Sign Up</b></a></span>
                </div>
            </div>

            <div class="child_" style="background: #999999;">
            </div>

            <div class="row">
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                    <img src="/assets/images/auth/login.png" alt="" style="width:100%;">
                </div>
                <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 d-flex justify-content-center flex-column">
                    <div class="header mt-5 mb-1">
                        <h2><b>Welcome Back</b></h2>
                        <!-- <span>Login To Continue</span> -->
                    </div>

                    <!-- @if (session('error')) -->
                    <%if(err){%>

                        <div class="alert alert-danger text-center">
                            <!-- {{ session('error') }} -->

                            <%=err%>

                        </div>
                        <!-- @endif -->
                        <%}%>

                            <form method="POST" action="/post_login">

                                <div class="row mb-2">

                                    <div class="col-12 col-sm-7 col-md-12 col-lg-7">

                                        <svg class="mb-1" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 16.0937C1 12.9474 3.62857 10.3968 9 10.3968C14.3714 10.3968 17 12.9474 17 16.0937C17 16.5942 16.6348 17 16.1843 17H1.81569C1.3652 17 1 16.5942 1 16.0937Z" stroke="black" stroke-width="2" />
                                            <path d="M12 4C12 5.65685 10.6569 7 9 7C7.34314 7 6 5.65685 6 4C6 2.34315 7.34314 1 9 1C10.6569 1 12 2.34315 12 4Z" stroke="black" stroke-width="2" />
                                        </svg>

                                        <label for="mobile_num" class="ms-2 mb-2"><b>Email/Phone*</b></label>
                                        <div class="">
                                            <input class="" type="text" placeholder="Last Name" name="mobile_num" required>
                                        </div>

                                    </div>

                                </div>

                                <div class="row mb-2">

                                    <div class="col-12 col-sm-7 col-md-12 col-lg-7">
                                        <div class="d-flex align-items-center">

                                            <svg class="mb-2" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.5 6.33333V5.57143C2.5 3.039 4.50714 1 7 1C9.49286 1 11.5 3.039 11.5 5.57143V6.33333M2.5 6.33333C1.675 6.33333 1 7.01905 1 7.85714V15.4762C1 16.3143 1.675 17 2.5 17H11.5C12.325 17 13 16.3143 13 15.4762V7.85714C13 7.01905 12.325 6.33333 11.5 6.33333M2.5 6.33333H11.5M7 12.5V10.5"
                                                    stroke="black" stroke-width="2" stroke-linecap="round" />
                                            </svg>

                                            <label class="ms-2 mb-2" for="mobile_num" class="mb-0"><b> Password</b></label>
                                        </div>

                                        <div class="">
                                            <input type="text" placeholder="Enter Password" name="pass" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mb-2">

                                    <div class="col-12 col-sm-7 col-md-12 col-lg-7">

                                        <span class="mt-5">
                                            <input class="" type="checkbox" placeholder="Enter Password" name="pass" required>
                                        </span>


                                        <label for="mobile_num" class="ms-2"><b> Remember Me</b></label>

                                    </div>

                                </div>



                                <!-- <div class="inputWithIcon">
                                    <input type="text" placeholder="Enter Your Mobile Number" name="mobile_num">
                                    <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
                                </div>

                                <div class="inputWithIcon">
                                    <input type="text" placeholder="Enter Password" name="pass">
                                    <i class="fa-solid fa-lock"></i>
                                </div> -->

                                <div class="buttons mt-5 ">
                                    <button type="submit" class="login-btn me-3">LOGIN</button>
                                    <a href="/forgotten_password"> Forget Password?</a>
                                </div>
                                <div class="d-flex justify-content-end login-with mt-5">
                                    <span>Login With</span>
                                    <span class="icon-holder">
                                        <a href="/google"> <img src="/assets/images/auth/google.png" alt=""></a>
                                    </span>
                                    <span class="icon-holder ms-2">
                                        <a href="/google"> <img src="/assets/images/auth/facebook.png" alt=""></a>
                                    </span>

                                </div>

                            </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>